AppDialog(
  size="sm"
  title="標題-我是小跳窗"
  v-bind="$attrs"
  v-on="$listeners"
  )
  template body ( 我是小跳窗 )
  template(v-slot:footer)
    BaseButton(outline @click="$emit('update:dialogVisible', false)") 取消
    BaseButton(color="primary" @click="$emit('update:dialogVisible', false)") 確認
