//- span.inline-block.w-4.align-middle.align-center
label.baseRadio(:class="[exportDisplay, exportDisabled]")
  input.baseRadio-radio(
    type="radio"
    :name="name"
    :value="value"
    :disabled="disabled"
    v-on="$listeners"
    v-model="picked")
  i.baseRadio-icon
  span {{ label }}
