.relative(:class="[exportDisplay]")
  select.block.w-full.pl-3.pr-6.bg-white.outline-none.border.rounded.appearance-none.leading-normal(
    @change="handleChange"
    :class="[exportClass, exportSize]"
    class="disabled:cursor-not-allowed"
    :disabled="exportDisabled"
  )
    option(v-for="item in options" :value="item.value") {{item.label}}
  .fal.fa-angle-down.absolute.inset-y-0.right-0.flex.items-center.pr-2.text-lg.text-gray-500.pointer-events-none
