.relative(:class="[exportDisplay]")
  textarea.block.w-full.px-3.text-black.bg-white.border.outline-none.rounded.appearance-none.leading-normal(
    :class="[exportClass, exportSize, exportError]"
    class="disabled:cursor-not-allowed"
    :disabled="exportDisabled"
    v-model.trim="message"
    v-on="$listeners"
    v-bind="$attrs"
  )
  .absolute.mt-1.ml-px.text-xs.text-danger.leading-tight(v-if="isError") {{ errorMessage }}
