.relative(:class="[exportDisplay]")
  input.block.w-full.px-3.bg-white.outline-none.border.rounded.appearance-none.leading-normal(
    :class="[exportClass, exportSize, exportError]"
    class="disabled:cursor-not-allowed"
    v-bind="$attrs"
    v-on="$listeners"
  )
  .absolute.mt-1.ml-px.text-xs.text-danger(v-if="error") {{ errorMessage }}
