label.baseCheckbox(:class=`getStyle('label')({
  isButton: button, isChecked, isHover: hover, isDisabled})`
  :style="computedWidth"
  @mouseover="hover = true"
  @mouseout="hover = false")
  //- .baseCheckbox__input
  //-   .baseCheckbox__inner
  input(
    type="checkbox"
    :class="getStyle('input')"
    :name="name"
    :value="label"
    :disabled="disabled || isDisabled"
    v-model="model"
    @change="handleChange")
  //- i.baseCheckbox-icon

  span {{ label }}
  span(v-if="button && isChecked" :class="getStyle('prefix_checked')")
    i.far.fa-check.text-primary
