label.baseCheckbox(:class="[exportDisplay, exportDisabled]")
  input.baseCheckbox-checkbox(
    type="checkbox"
    :name="name"
    :value="value"
    :disabled="disabled"
    v-on="$listeners"
    v-model="picked")
  i.baseCheckbox-icon
  span {{ label }}
