// 背景
$body-bg: #ffffff;
$body-color: #212529;

// 灰階色
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// 色系
$white: #ffffff;
$black: #000000;
$primary: #00ccff;
$primary-dark: #03a9f4;
$primary-light: rgba(#a3d0fd, 0.3);
$primary-vr-light: #e9faff;
$success: #4caf50;
$warning: #ff9800;
$danger: #f56c6c;
$light: #909399;
$vr-light: #c0c4cc;
$dark: #606266;
$vr-dark: #303133;

// Text Color
$text-vr-dark: #303133;
$text-dark: #606266;
$text-light: #909399;
$text-vr-light: #c0c4cc;

// Line Color
$line-vr-dark: #dcdfe6;
$line-dark: #e4e7ed;
$line-light: #ebeef5;
$line-vr-light: #f2f6fc;

// Background Color
$bg-dark: #f0f2f5;
$bg-light: #f0f2f5;
$bg-white: #ffffff;

// headings size
$headings-size: 46px 36px 28px 22px 18px 16px;

// profile input height
$profile-input-height: 40px;

// text+btn+bg color
$color-name: primary success warning danger mute;

$colors: (
  primary: $primary,
  primary-dark: $primary-dark,
  primary-light: lighten($primary, 30%),
  primary-vr-light: lighten($primary, 45%),
  success: $success,
  success-dark: darken($success, 10%),
  success-light: lighten($success, 30%),
  success-vr-light: lighten($success, 40%),
  warning: $warning,
  warning-dark: darken($warning, 10%),
  warning-light: lighten($warning, 30%),
  warning-vr-light: lighten($warning, 40%),
  danger: $danger,
  danger-dark: darken($danger, 10%),
  danger-light: lighten($danger, 20%),
  danger-vr-light: lighten($danger, 25%),
  mute: $light
) !default;

// $colors: (
//   primary: $primary,
//   success: $success,
//   warning: $warning,
//   danger: $danger,
//   mute: $light
// ) !default;
