.relative
  BaseRadio(
    v-bind="$attrs"
    v-for="item in options"
    :label="item.label"
    :value="item.value"
    :disabled="item.disabled"
    )
  .absolute.mt-1.ml-px.text-xs.text-danger.leading-tight(v-if="isError") {{ errorMessage }}
