button.align-center.rounded.border.leading-tight(
  type="button"
  :class="[exportDisplay, exportClass, exportSize, exportHover]"
  class="focus:outline-none"
  v-on="$listeners"
  :disabled="disabled || loading"
)
  .inline-block.pr-2(
      v-if="loading"
    )
    i.far.fa-spinner.ani-rotation
  slot(name="icon")
  slot
