// 位置
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

//文字顏色
// @each $name, $color in $colors {
//   .text-#{$name} {
//     color: $color !important;
//   }
// }
